body{
    width: 1440px;
    background-color: #FAFAFA;
    font-size: 15px;
}
h2{
    margin: 15px 0px;
}
h3{
    margin-top: 0;
}
.title{
    text-align: center;
}

.poppins-200 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .poppins-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-600 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
.card{
    margin: 20px;
    margin-top: 25px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 20px;
    width: 300px;
    height: 250px;
    box-shadow: 0px 10px 10px 3px rgba(117, 129, 185, 0.205);
}
.logo{
    margin-top: 30px;
    float: right;
}
.bluegray{
    color: #A3A5AE;
}
.darkblue{
    color:#4C4E61;
}

.sup{
    border-top: solid #45D3D3 5px;
    grid-column: 1;

}
.build{
    border-top: solid #EA5353 5px;
    grid-column: 2;
}
.karma{
    border-top: solid #FCAF4A 5px;
    grid-column: 2;
}
.calc{
    border-top: solid #549EF2 5px;
    grid-column: 3;
}
.column{
    margin: auto;
    gap: 0px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 120px;
    padding-right: 130px;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3, 1fr);
}
.first{
    margin-top: 40px;
    margin-bottom: 5px;
}
.second{
    margin-top: 5px;
}